<!-- MENU -->
<monkey-menu
    [style]="currentStyle"
    title="Monkey UI Tests"
    [options]="menuRoutes"
    selfNavigation
    sticky
>
    <!-- TODO Move this options to settings modal when implemented -->
    <!-- THEME CHANGE -->
    <monkey-theme-changer
        (onAction)="themeChanged()"
    />

    <monkey-dropdown
        [style]="currentStyle"
        alt="Font selector"
        [options]="fontOptions"
        [selected]="fontOptions[0]"
        (selectedChanged)="changeFont($event)"
        separators
    ></monkey-dropdown>

    <monkey-dropdown
        [style]="currentStyle"
        alt="Screen options"
        [options]="screenOptions"
        (selectedChanged)="applyScreenSetting($event)"
        separators
    ></monkey-dropdown>

    <monkey-avatar
        [style]="currentStyle"
        image="https://th.bing.com/th/id/OIP.6bDf-HbrDJFPfyRPJTYVZgHaG7?rs=1&pid=ImgDetMain"
        errorImage="https://via.placeholder.com/20"
        form="rounded"
        sm
        text="Monkey avatar"
    ></monkey-avatar>
</monkey-menu>

<monkey-aside-menu
    [style]="currentStyle"
    [data]="styleOptions"
    showHint
    (optionSelected)="changeStyle($event)"
></monkey-aside-menu>

<main>
    <router-outlet></router-outlet>
</main>

<monkey-alert
    [style]="currentStyle"
    dismissible
    acceptable
    rejectable
    glass
></monkey-alert>

<monkey-tooltip
    [style]="currentStyle"
></monkey-tooltip>
