<!-- THEME CHANGE -->
<monkey-theme-changer />

<!-- STYLES DEMOS -->
<monkey-card>
    <monkey-button
        [style]="currentStyle"
    >Default Monkey Button</monkey-button>

    <monkey-switch
        [style]="currentStyle"
    />
</monkey-card>

<monkey-card
    brutalist
>
    <monkey-button
        brutalist
        [style]="currentStyle"
    >Brutalist Monkey Button</monkey-button>

    <monkey-switch
        brutalist
        [style]="currentStyle"
    />
</monkey-card>

<monkey-card
    glass
>
    <monkey-button
        glass
        [style]="currentStyle"
    >Glassmorphism Monkey Button</monkey-button>

    <monkey-switch
        glass
        [style]="currentStyle"
    />
</monkey-card>

<monkey-card
    flat
>
    <monkey-button
        flat
        [style]="currentStyle"
    >Flat Monkey Button</monkey-button>

    <monkey-switch
        flat
        [style]="currentStyle"
    />
</monkey-card>

<monkey-card
    ghost
>
    <monkey-button
        ghost
        [style]="currentStyle"
    >Ghost Monkey Button</monkey-button>

    <monkey-switch
        ghost
        [style]="currentStyle"
    />
</monkey-card>

<monkey-card
    glow
>
    <monkey-button
        glow
        [style]="currentStyle"
    >Glow Monkey Button</monkey-button>

    <monkey-switch
        glow
        [style]="currentStyle"
    />
</monkey-card>

<!-- STYLE CHANGE -->
<monkey-card>
    <monkey-button
        [style]="primaryStyle"
        (click)="changeStyle(primaryStyle)"
    >PRIMARY</monkey-button>

    <monkey-button
        [style]="secondaryStyle"
        (click)="changeStyle(secondaryStyle)"
    >SECONDARY</monkey-button>

    <monkey-button
        [style]="tertiaryStyle"
        (click)="changeStyle(tertiaryStyle)"
    >TERTIARY</monkey-button>

    <monkey-button
        [style]="warningStyle"
        (click)="changeStyle(warningStyle)"
    >WARNING</monkey-button>

    <monkey-button
        [style]="dangerStyle"
        (click)="changeStyle(dangerStyle)"
    >DANGER</monkey-button>

    <monkey-button
        [style]="successStyle"
        (click)="changeStyle(successStyle)"
    >SUCCESS</monkey-button>

    <monkey-button
        [style]="infoStyle"
        (click)="changeStyle(infoStyle)"
    >INFO</monkey-button>
</monkey-card>
