<monkey-theme-changer />

<monkey-card>
    <monkey-button>Default Monkey Button</monkey-button>
</monkey-card>

<monkey-brutalist-card>
    <monkey-brutalist-button>Brutalist Monkey Button</monkey-brutalist-button>
</monkey-brutalist-card>

<monkey-glass-card>
    <monkey-glass-button>Glassmorphism Monkey Button</monkey-glass-button>
</monkey-glass-card>

<monkey-flat-card>
    <monkey-flat-button>Flat Monkey Button</monkey-flat-button>
</monkey-flat-card>

<monkey-ghost-card>
    <monkey-ghost-button>Ghost Monkey Button</monkey-ghost-button>
</monkey-ghost-card>

<monkey-glow-card>
    <monkey-glow-button>Glow Monkey Button</monkey-glow-button>
</monkey-glow-card>
